<div th:include="header.html" th:remove="tag"></div>
<body>
	<div class="container">
		<div class="row main" style="margin-top: 10px;">	
			<div class="main-login main-center">
				
				<h5>Registro de nuevo Usuario.</h5>
					 <form class="" th:action="@{/user/adduser}" th:object="${user}" method="post">
						
						  <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" id="txt_reg_nombre"  class="form-control" th:field="*{nombre}"  placeholder="Ingresa tu nombre"/>
								</div>
							</div>
						</div>

					 <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Apellido Paterno</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" th:field="*{apat}"  class="form-control" name="name" id="txt_reg_apat"  placeholder="Ingresa tu apellido"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Apellido Materno</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" th:field="*{amat}"  class="form-control" name="name" id="txt_reg_amat"  placeholder="Ingresa tu apellido"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email"th:field="*{email}"  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" name="email" id="txt_reg_email"  placeholder="Ingresa tu Email"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Confirma tu Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" name="email_confirm" id="txt_mail_confirm"  placeholder="Confirma tu Email"/>
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" th:field="*{pass}" class="form-control" name="password" id="txt_reg_pass"  placeholder="Ingresa tu Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirmar contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirmPass"  placeholder="Confirma tu Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">¿Cómo se llama tu Clínica?</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-h-square" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="txtclinica" id="txtclinica"  placeholder="Nombre de la Clínica"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">¿Cuál es la dirección de la Clínica?</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="txtDireccion" id="txtDireccion"  placeholder="Dirección"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">¿Qué función realizarás?</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user-md" aria-hidden="true"></i></span>
									<select id="cboPefilUser" th:field="*{perfil}"  class="form-control">
										<option value="0">Agenda</option>
										<option value="1">Atención profesional</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group ">
						<div th:if="${errormail != null}" class="alert alert-danger" role="alert">El correo ya está registrado</div>
						<div th:if="${error != null}" class="alert alert-info" role="alert">Registrado exitosamente</div>
							<button class="btn btn-lg btn-primary btn-block" type="submit">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
							</button>
						</div> 
						
					</form>
				</div>
			</div>
		</div>
</body>
</html>